
.Background{
    background: url('../../assets/images/recurringbackground.png') no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size: cover;
    /* border: 1px solid red; */
    text-align: center;
    margin-bottom: 50px;
   
   
}
.Background.picture{
 background: url('../../assets/images/Gallerypages/RoadWalk/pic25.svg') no-repeat center;

}
.Background.conference{
    background: url('../../assets/images/Gallerypages/PCRCBIENNIALCONFERENCE/bigimage.svg')  no-repeat  ;
    -webkit-background-size: cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size: cover;
  
}
.Background.pic1{
    background: url('../../assets/images/backgroundimage3.jpeg')  no-repeat  ;
    -webkit-background-size: cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size: cover;
  
}
.Background.pic2{
    background: url('../../assets/images/backgroundimage4.jpeg')  no-repeat  ;
    -webkit-background-size: cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size: cover;
  
}






.Background h1{
    padding-top:400px;
    padding-bottom: 400px;
    font-size: 80px;
    color: #E3CE03;

}

