.H1blue{

    width: 30%;
    margin: 0 auto;
    color: #0066CC;
  
    padding: 30px;

text-align: center;
}



.H1blue.white{
    width: 90%;
    margin: 0 auto;
    color: #FFFFFF;
}

.H1blue.black{
    width: 90%;
    margin: 0 auto;
    color: #000000;
}